
$fa-font-path: '~font-awesome/fonts';
$bootstrap-sass-asset-helper: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~font-awesome/scss/font-awesome";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import '~admin-lte/dist/css/AdminLTE';
@import '~admin-lte/dist/css/skins/skin-black';

@import "proficiencies";
@import "npcs";
@import "world_map";

.map span.empty {
  display: block;
  height: 34px;
}

.map span.btn {
  cursor: default;
}

.announcement pre,
.console {
  margin: 0;
  font-family: "Open Sans", Monaco, monospace;
  font-size: 1.1em;

  a {
    color: inherit;
  }
}

.color-preview {
  width: 30px;
  height: 30px;

  border: 2px solid black;
}

.fa-quicklink {
  font-size: 20px;
}

.content-wrapper {
  background-color: #385d6f;
}

h1 {
  font-family: inherit;
  font-weight: 900;
  line-height: 1.1;
  color: whitesmoke;

}

.content-header > .breadcrumb > li > a {
  color: whitesmoke;
  text-decoration: none;
  display: inline-block;
}

.breadcrumb > .active {
  color: whitesmoke;
}

.box-header {
  border-right: 8px solid #3c8dbc;
}

.box-body {
  border-right: 8px solid #3c8dbc;
  border-bottom-right-radius: 0px!important;
}

.box-footer {
  border-right: 8px solid #3c8dbc;
  border-top: 0px;
  
}

.sidebar {
  border-right: 6px solid rgba(0,0,0,.4);
}

.box {
  border-top: 3px solid #3c8dbc;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
    padding-top: 0.2em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  padding-top: 4px;
  border-bottom: 3px solid rgba(0,0,0,.1);
  border-right: 2px solid rgba(0,0,0,.1);
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
  border: 2px solid rgba(0,0,0,.2);
  background: aliceblue;
}